
<div class="example-form">
  <div style="margin: 10px 0px 20px 0px;">
    <button mat-raised-button color="primary" (click)="setCookies()">Set Cookies</button>
      <button mat-raised-button color="primary" (click)="getCookies()">Get Cookies</button>
        <button mat-raised-button color="warn" (click)="delCookies()">Del Cookies</button>

  </div>

  <div style="margin: 10px 0px 20px 0px;">
    <button mat-raised-button color="primary" (click)="setLocalStorage()">Set local storage</button>
      <button mat-raised-button color="primary" (click)="getLocalStorage()">Get local storage</button>
        <button mat-raised-button color="warn" (click)="delLocalStorage()">Del local storage</button>

  </div>

  <div style="margin: 10px 0px 20px 0px;">
    <button mat-raised-button color="primary" (click)="setSessionStorage()">Set Session Storage</button>
      <button mat-raised-button color="primary" (click)="getSessionStorage()">Get Session Storage</button>
        <button mat-raised-button color="warn" (click)="delSessionStorage()">Del Session Storage</button>

  </div>


</div>